* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfdfd;
}

.navigasi {
    background-color: #3b4997;
    width: 100%;
    height: 50px;
    color: white;
    position: fixed;
}

.logo {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.menu {
    float: right;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    background-color: #3b4997;
    padding-bottom: 10px;
}

.home-li {
    margin-right: 49px;
}

.about-me {
    margin-right: 49px;
}



.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.menu ul li a:hover {
    color: #7c90ff;

}

.banner {
    background-color: #4b65f7;
    height: 700px;
    text-align: center;
    color: white;
}

.banner img {
    border-radius: 100px;
    height: 150px;
    margin-top: 150px;
}

.banner h1 {
    margin-top: 10px;
}

.banner p {
    margin-top: 10px;
}

.banner button {
    margin-top: 60px;
    padding: 10px;width: 300px;
    border-radius: 100px;
    border: none;
    color: #4b65f7;
}

.banner button:hover {
    background-color: #4b65f7;
    border: 1px solid white;
    color: white;
}

h1 span::before {
    content: '';
    animation: gerak infinite 8s ease;
    transform: translateY(-50%);
    color: lightblue;
    font-family: 70px;
}

@keyframes gerak {
    0% {
        content: 'Selamat Datang';
    }
    50% {
        content: 'Saya Muhamad Rizki';
    }
    100% {
        content: 'Terima Kasih Sudah Singgah!';
    }
}

.pendidikan {
    text-align: center;
    color:  rgb(54, 54, 54);
    margin-top: 90PX;
    align-items: center;
}

.box-kiri, .box-tengah, .box-kanan {
    width: 250px;
    height: 320px;
    background-color: #bec4ff;
    text-align: center;
    align-items: center;
    padding: 30px 20px;
    margin: 70px 100px 90px 55px;
    border-radius: 20px;
    float:left;
    border: #3b4997;
}

.box-kiri:hover, .box-tengah:hover, .box-kanan:hover {
background-color:#3b4997;
color: white;
}

.pendidikan h3, p {
    margin-top: 10px;
    margin-bottom: 13px;
    padding: 0px 20px;
}



.kontak {
    text-align: center;
    color: rgb(54, 54, 54);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}